<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<link href="/css/loginTemp.css" th:href="@{/css/loginTemp.css}" rel="stylesheet"></link>
<head>
<meta charset="UTF-8">
</head>
<body>
	<a href="/">トップに戻る</a>
	<p th:text="${obj}"></p>
	<form method="post" action="#" th:action="@{/add}" th:object="${formModel}">
		<input type="text" name="username" th:value="*{username}"
			placeholder="ログインID" required="required" autofocus="autofocus">
		<input type="text" name="name" th:value="*{name}"
			placeholder="名前" required="required">
		<input type="password" name="password" th:value="*{password}"
			placeholder="パスワード" required="required">
		<button type="submit">ユーザ登録</button>
	</form>
</body>
</html>